# if, elif, else Statements

<code>if</code> Statements in Python allows us to tell the computer to perform alternative actions based on a certain set of results.

Verbally, we can imagine we are telling the computer:

"Hey if this case happens, perform some action"

We can then expand the idea further with <code>elif</code> and <code>else</code> statements, which allow us to tell the computer:

"Hey if this case happens, perform some action. Else, if another case happens, perform some other action. Else, if *none* of the above cases happened, perform this action."

Let's go ahead and look at the syntax format for <code>if</code> statements to get a better idea of this:

    if case1:
        perform action1
    elif case2:
        perform action2
    else:
        perform action3

## First Example

Let's see a quick example of this:

In [1]:
if True:
    print('It was true!')

It was true!

Let's add in some else logic:

In [2]:
x = True

if x:
    print('x was True!')
else:
    print('I will be printed in any case where x is not true')
    print('Here it is')

x was True!

### Multiple Branches

Let's get a fuller picture of how far <code>if</code>, <code>elif</code>, and <code>else</code> can take us!

We write this out in a nested structure. Take note of how the <code>if</code>, <code>elif</code>, and <code>else</code> line up in the code. This can help you see what <code>if</code> is related to what <code>elif</code> or <code>else</code> statements.

We'll reintroduce a comparison syntax for Python.

In [3]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('Welcome to the Auto Shop!')
elif loc == 'Bank':
    print('Welcome to the bank!')
else:
    print('Where are you?')

Welcome to the bank!

Note how the nested <code>if</code> statements are each checked until a True boolean causes the nested code below it to run. You should also note that you can put in as many <code>elif</code> statements as you want before you close off with an <code>else</code>.

## if-elif-else Exercise
Write code to check weather condition with following senarios:

    1.) Sunny and Hot (temp is higher than 30)
    2.) Sunny and Moderate (temp is between 20 and 30)
    3.) Rainy and Cold (temp is less than 20)
    4.) Rainy and Very Cold (temp is less than 5)

In [4]:
# Write your code here
temp = 35

if temp > 30:
    print("Sunny and Hot")

Sunny and Hot

In [6]:
temp = 25

if 20 <= temp <= 30:
    print("Sunny and Moderate")

Sunny and Moderate

In [7]:
temp = 15

if temp < 20:
    print("Rainy and Cold")

Rainy and Cold

In [8]:
temp = 3

if temp < 5:
    print("Rainy and Very Cold")

Rainy and Very Cold

# for Loops

A <code>for</code> loop acts as an iterator in Python; it goes through items that are in a *sequence* or any other iterable item. Objects that we've learned about that we can iterate over include strings, lists, tuples, and even built-in iterables for dictionaries, such as keys or values.

We've already seen the <code>for</code> statement a little bit in past lectures but now let's formalize our understanding.

Here's the general format for a <code>for</code> loop in Python:

    for item in object:
        statements to do stuff

The variable name used for the item is completely up to the coder, so use your best judgment for choosing a name that makes sense and you will be able to understand when revisiting your code. This item name can then be referenced inside your loop, for example if you wanted to use <code>if</code> statements to perform checks.

Let's go ahead and work through several example of <code>for</code> loops using a variety of data object types. We'll start simple and build more complexity later on.

## Example 1
Iterating through a list

In [9]:
# We'll learn how to automate this sort of list in the next lecture
list1 = [1,2,3,4,5,6,7,8,9,10]
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9
10

Great! Hopefully this makes sense. Now let's add an <code>if</code> statement to check for even numbers. We'll first introduce a new concept here--the modulo.
### Modulo
The modulo allows us to get the remainder in a division and uses the % symbol. For example:

In [11]:
17 % 5

2

This makes sense since 17 divided by 5 is 3 remainder 2. Let's see a few more quick examples:

In [12]:
# 3 Remainder 1
10 % 3

1

In [13]:
# 2 no remainder
4 % 2

0

Notice that if a number is fully divisible with no remainder, the result of the modulo call is 0. We can use this to test for even numbers, since if a number modulo 2 is equal to 0, that means it is an even number!

Back to the <code>for</code> loops!

## Example 2
Let's print only the even numbers from that list!

In [14]:
for num in list1:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

We could have also put an <code>else</code> statement in there:

In [15]:
for num in list1:
    if num % 2 == 0:
        print(num)
    else:
        print('Odd number')

Odd number
2
Odd number
4
Odd number
6
Odd number
8
Odd number
10

## Example 3

In [16]:
list1=['w','o','r','d']
print(list1)

['w', 'o', 'r', 'd']

In [17]:
result=''

for elements in list1:
    result +=elements

Please notice here that <code>result +=elements</code> is equivallent to <code>result=result+elements</code>

In [18]:
print(result)

word

## For loop Exercise

In [19]:
#create empty list

letters_list = []


# Write a for loop to assign each letter of "result" to the list
for elements in result:
    letters_list.append(elements)

# Print the list to see the result
print(letters_list)

['w', 'o', 'r', 'd']

# while Loops

The <code>while</code> statement in Python is one of most general ways to perform iteration. A <code>while</code> statement will repeatedly execute a single statement or group of statements as long as the condition is true. The reason it is called a 'loop' is because the code statements are looped through over and over again until the condition is no longer met.

The general format of a while loop is:

    while test:
        code statements
    else:
        final code statements

Let’s look at a few simple <code>while</code> loops in action.

Notice how many times the print statements occurred and how the <code>while</code> loop kept going until the True condition was met, which occurred once x==10. It's important to note that once this occurred the code stopped. Also see how we could add an <code>else</code> statement:

In [20]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1

else:
    print('All Done!')

x is currently:  0
 x is still less than 10, adding 1 to x
x is currently:  1
 x is still less than 10, adding 1 to x
x is currently:  2
 x is still less than 10, adding 1 to x
x is currently:  3
 x is still less than 10, adding 1 to x
x is currently:  4
 x is still less than 10, adding 1 to x
x is currently:  5
 x is still less than 10, adding 1 to x
x is currently:  6
 x is still less than 10, adding 1 to x
x is currently:  7
 x is still less than 10, adding 1 to x
x is currently:  8
 x is still less than 10, adding 1 to x
x is currently:  9
 x is still less than 10, adding 1 to x
All Done!

# break, continue, pass

We can use <code>break</code>, <code>continue</code>, and <code>pass</code> statements in our loops to add additional functionality for various cases. The three statements are defined by:

    break: Breaks out of the current closest enclosing loop.
    continue: Goes to the top of the closest enclosing loop.
    pass: Does nothing at all.
    
    
Thinking about <code>break</code> and <code>continue</code> statements, the general format of the <code>while</code> loop looks like this:

    while test:
        code statement
        if test:
            break
        if test:
            continue
    else:

<code>break</code> and <code>continue</code> statements can appear anywhere inside the loop’s body, but we will usually put them further nested in conjunction with an <code>if</code> statement to perform an action based on some condition.

Let's go ahead and look at some examples!

In [21]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    if x==3:
        print('x==3')
    else:
        print('continuing...')
        continue #pass
        print('is this executed?')

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
x==3
x is currently:  3
 x is still less than 10, adding 1 to x
continuing...
x is currently:  4
 x is still less than 10, adding 1 to x
continuing...
x is currently:  5
 x is still less than 10, adding 1 to x
continuing...
x is currently:  6
 x is still less than 10, adding 1 to x
continuing...
x is currently:  7
 x is still less than 10, adding 1 to x
continuing...
x is currently:  8
 x is still less than 10, adding 1 to x
continuing...
x is currently:  9
 x is still less than 10, adding 1 to x
continuing...

Note how we have a printed statement when x==3, and a continue being printed out as we continue through the outer while loop. Let's put in a break once x ==3 and see if the result makes sense:

In [23]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    if x==3:
        print('Breaking because x==3')
        break
    else:
        print('continuing...')
        continue

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
Breaking because x==3

Note how the other <code>else</code> statement wasn't reached and continuing was never printed!

After these brief but simple examples, you should feel comfortable using <code>while</code> statements in your code.

**A word of caution however! It is possible to create an infinitely running loop with <code>while</code> statements.**

## While Loop Exercise
Write code to check if input number is greater than, less than or equal to 50. Loop should be continuous and command of **exit** should end the loop

Hint: you need to used input() fucntion and cast the value to 'int' for conditions but don't cast when 'exit'.

The code for taking input and casting is as following:
    
<code>x=input("Enter a your value: ")</code>

In [24]:
#write code here
while True:
    x = input("Enter your value (or type 'exit' to end): ")

    # Check if the user wants to exit
    if x == 'exit':
        print("Exiting the loop.")
        break  # Exit the loop

    # Cast the input to an integer and check the conditions
    try:
        x = int(x)  # Try to cast the input to an integer
        if x > 50:
            print(f"{x} is greater than 50.")
        elif x < 50:
            print(f"{x} is less than 50.")
        else:
            print(f"{x} is equal to 50.")
    except ValueError:
        print("Please enter a valid number or type 'exit' to end.")

Enter your value (or type 'exit' to end): 59
59 is greater than 50.
Enter your value (or type 'exit' to end): exit
Exiting the loop.

# Methods

Methods are essentially functions for the objects. Methods perform specific actions on an object and can also take arguments, just like a function. This lecture will serve as just a brief introduction to methods and get you thinking about overall design methods that we will touch back upon when we reach OOP in the course.

Methods are in the form:

    object.method(arg1,arg2,etc...)
    
You'll later see that we can think of methods as having an argument 'self' referring to the object itself. You can't see this argument but we will be using it later on in the course during the OOP lectures.

Let's take a quick look at what an example of the various methods a list has:

In [25]:
# Create a simple list
lst = [1,2,3,4,5]

Fortunately, with iPython and the Jupyter Notebook we can quickly see all the possible methods using the tab key.
The common methods for a list are:

* append
* count
* extend
* insert
* pop
* remove
* reverse
* sort

Let's try out a few of them:

In [26]:
lst.append(6)

In [27]:
lst

[1, 2, 3, 4, 5, 6]

In [28]:
lst.clear()

In [29]:
# Check how many times 2 shows up in the list
lst.count(2)

0

You can always use Tab in the Jupyter Notebook to get list of all methods you use Shift+Tab in the Jupyter Notebook to get help of all methods.

The methods for a string are:

* lower
* upper
* replace
* split
* count
* join
* find
* endswith

### Home Task

Make a string having two words, starting with same letters and separated by a space like **'Abrar Ahmed'** and perform the following tasks using methods

In [30]:
#declare a string

name = "Abrar Ahmed"


# 1. Convert the string to all uppercase
uppercase_name = name.upper()
print("Uppercase:", uppercase_name)

# 2. Convert the string to all lowercase
lowercase_name = name.lower()
print("Lowercase:", lowercase_name)

# 3. Check if the string starts with 'A'
starts_with_A = name.startswith('A')
print("Starts with 'A':", starts_with_A)

# 4. Find the position of the space
space_position = name.find(' ')
print("Position of space:", space_position)

# 5. Split the string into two words
split_name = name.split(' ')
print("Split into two words:", split_name)

# 6. Replace the space with a hyphen
hyphen_name = name.replace(' ', '-')
print("With hyphen:", hyphen_name)

# 7. Count the occurrences of the letter 'A' (case-insensitive)
count_A = name.lower().count('a')
print("Occurrences of 'A':", count_A)

Uppercase: ABRAR AHMED
Lowercase: abrar ahmed
Starts with 'A': True
Position of space: 5
Split into two words: ['Abrar', 'Ahmed']
With hyphen: Abrar-Ahmed
Occurrences of 'A': 3

Hint: s.split('Letter to split with', maxsplit=no. of splits)

# Functions

## Introduction to Functions

**So what is a function?**

Formally, a function is a useful device that groups together a set of statements so they can be run more than once. They can also let us specify parameters that can serve as inputs to the functions.

On a more fundamental level, functions allow us to not have to repeatedly write the same code again and again.

Functions will be one of most basic levels of reusing code in Python, and it will also allow us to start thinking of program design.

## def Statements

Let's see how to build out a function's syntax in Python. It has the following form:

In [31]:
def name_of_function(arg1,arg2):
    '''
    This is where the function's Document String (docstring) goes
    '''

In [32]:
name_of_function(1,2)

We begin with <code>def</code> then a space followed by the name of the function. Try to keep names relevant, for example len() is a good name for a length() function. Also be careful with names, you wouldn't want to call a function the same name as a [built-in function in Python](https://docs.python.org/2/library/functions.html) (such as len).

Next come a pair of parentheses with a number of arguments separated by a comma. These arguments are the inputs for your function. You'll be able to use these inputs in your function and reference them. After this you put a colon.

The important step is that you must indent to begin the code inside your function correctly.

### Example 1: A simple print 'hello' function

In [33]:
def say_hello():
    print('hello')

**Call the Function**

In [34]:
say_hello()

hello

### Example 2: A simple greeting function
Let's write a function that greets people with their name.

In [35]:
def greeting(name):
    print('Hello',(name))

In [36]:
greeting('Jose')

Hello Jose

## Using return
Let's see some example that use a <code>return</code> statement. <code>return</code> allows a function to *return* a result that can then be stored as a variable, or used in whatever manner a user wants.

### Example 3: Addition function

In [37]:
def add_num(num1,num2):
    return num1+num2

In [38]:
# Can save as variable due to return
result = add_num(4,5)

### Example 4: Function with default arguments

In [39]:
def my_power(num,n=2):
    '''
    Method to get power of number
    '''
    return num**n

In [40]:
my_power(3,3)

27

# Functions exercise
Write a function to check if a number is even or odd.

In [44]:

def check_even_odd(number):
    if number % 2 == 0:
        print(f"{number} is even.")
    else:
        print(f"{number} is odd.")


num = int(input("Enter a number: "))
check_even_odd(num)

Enter a number: 6
6 is even.

# Built-in Functions in Python
We will discuss some built in functions provided to us by Python. They are as following:
* Filter
* Map
* Lambda
* Range
* Min, Max
* Enumerate

Let's have a look at the following examples and see how they work

## map function

The **map** function allows you to "map" a function to an iterable object. That is to say you can quickly call the same function to every item in an iterable, such as a list. For example:

In [49]:
def square(num):
    return num**2

In [46]:
my_nums = [1,2,3,4,5]

In [47]:
new_num=[]
for i in my_nums:
    new_num.append(square(i))
new_num

[1, 4, 9, 16, 25]

**Using the map() function:**

In [50]:
map(square,my_nums)

In [51]:
#printing results
list(map(square,my_nums))

[1, 4, 9, 16, 25]

## filter function

The filter function returns an iterator yielding those items of iterable for which function(item)
is true. Meaning you need to filter by a function that returns either True or False. Then passing that into filter (along with your iterable) and you will get back only the results that would return True when passed to the function.

In [52]:
def check_even(num):
    return num % 2 == 0

In [53]:
nums = [0,1,2,3,4,5,6,7,8,9,10]

In [54]:
filter(check_even,nums)

In [56]:
list(filter(check_even,nums))

[0, 2, 4, 6, 8, 10]

## lambda expression

lambda expressions allow us to create "anonymous" functions. This basically means we can quickly make ad-hoc functions without needing to properly define a function using def.

**lambda's body is a single expression, not a block of statements.**

Consider the following function:

In [61]:
def square(num):
    result = num**2
    return result

In [58]:
square(2)

4

We could actually even write this all on one line.

In [62]:
lambda num: num ** 2

In [64]:
# for displaying results
square = lambda num: num **2

Let's repeat some of the examples from above with a lambda expression

In [65]:
list(map(lambda num: num ** 2, my_nums))

[1, 4, 9, 16, 25]

### Task

Repeat the **filter()** function example with the **lambda()** functions

In [66]:
# wrtite the code here
# List of numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Using filter() with lambda to filter even numbers
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))

# Print the filtered list of even numbers
print("Even numbers:", even_numbers)

Even numbers: [2, 4, 6, 8, 10]

## range

The range function allows you to quickly *generate* a list of integers, this comes in handy a lot, so take note of how to use it! There are 3 parameters you can pass, a start, a stop, and a step size. Let's see some examples:

In [67]:
range(0,11)

range(0, 11)

Note that this is a **generator** function, so to actually get a list out of it, we need to cast it to a list with **list()**. What is a generator? Its a special type of function that will generate information and not need to save it to memory.

In [68]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [69]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

## enumerate

enumerate is a very useful function to use with for loops. Let's imagine the following situation:

In [70]:
index_count = 0

for letter in 'abcde':
    print("At index " + str(index_count) +" the letter is " + str(letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

Keeping track of how many loops you've gone through is so common, that enumerate was created so you don't need to worry about creating and updating this index_count or loop_count variable

In [71]:
# Notice the tuple unpacking!

for i,letter in enumerate('abcde'):
    print("At index " + str(i) +" the letter is " + str(letter))

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

## min and max

Quickly check the minimum or maximum of a list with these functions.

In [72]:
mylist = [10,20,30,40,100]

In [73]:
min(mylist)

10

In [75]:
max(mylist)

100

## random

Python comes with a built in random library. There are a lot of functions included in this random library, so we will only show you two useful functions for now.

In [76]:
from random import shuffle

In [77]:
shuffle(mylist)

In [78]:
mylist

[40, 20, 30, 100, 10]

In [79]:
from random import randint

In [80]:
randint(0,100)

37

## input

This function is used in python to take input from user.

In [81]:
a=input('Enter Something into this box: ')

Enter Something into this box: fg